<div class="row p-2">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card">
        <h3 class="card-header pink white-text"><i class="fa fa-automobile prefix"></i> Your Offered Rides <div class="md-form float-right"><input type="text" [(ngModel)]="name" id="search"  class="form-control custom-search-input" placeholder="Search anything"></div> <i class="fa fa-refresh float-right cursorClass animated rotateIn" (click)="getOfferedRideList()"></i></h3>
        <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table">
                <thead>
                  <tr>
                      <th>Vehicle Owner</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Ride Date</th>
                      <th [class]="order === 'time'" class="cursorClass"
                      (click)="setOrder('time')">Arrival Time<span class="cursorClass" [hidden]="reverse">▼</span><span class="cursorClass" [hidden]="!reverse">▲</span></th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="cursorClass" routerLink="/viewride/{{ride.id}}" *ngFor="let ride of offeredRideList |filter:name | orderBy: order:reverse:'case-insensitive'">
                        <td>{{ride.ownerName}}</td>
                        <td>{{ride.from}}</td>
                        <td>{{ride.to}}</td>
                        <td>{{ride.date}}</td>
                        <td>{{ride.time}}</td>
                        <td><button class="btn btn-mdb-color btn-sm btn-rounded waves-light animated flipInX" routerLink="/viewride/{{ride.id}}">View</button></td>
                    </tr>
                </tbody>
              </table>
              </div>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  