<div class="container-fluid">
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark pink mb-3">
    <a *ngIf="getDetails()" class="navbar-brand" routerLink='/dashboard'>CarPool</a>
    <a *ngIf="!getDetails()" class="navbar-brand" routerLink='/login'>CarPool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">

        </li>
        <li class="nav-item" *ngIf="!getDetails()">
          <button type="button" class="btn btn-mdb-color btn-sm btn-rounded waves-light" routerLink="/register" mdbWavesEffect>Register <i class="fa fa-user-plus ml-2"></i></button>
        </li>
        <li class="nav-item" *ngIf="!getDetails()">
          <button type="button" class="btn btn-mdb-color btn-sm btn-rounded waves-light" routerLink="/login" mdbWavesEffect>Login <i class="fa fa-sign-in ml-2"></i></button>
        </li>
        <li class="nav-item" *ngIf="getDetails()">
          <button type="button" class="btn btn-mdb-color btn-sm btn-rounded waves-light" routerLink="/offeredRides" mdbWavesEffect>Offered Rides<i class="fa fa-paw ml-2"></i></button>
        </li>
        <li class="nav-item" *ngIf="getDetails()">
          <button type="button" class="btn btn-mdb-color btn-sm btn-rounded waves-light" routerLink="/createride" mdbWavesEffect>Offer a ride <i class="fa fa-paper-plane ml-2 animated slideInUp"></i></button>
        </li>
        <div class="btn-group btn-sm" dropdown *ngIf="getDetails()">
            <button dropdownToggle class="btn btn-mdb-color btn-sm btn-rounded dropdown-toggle waves-light" type="button" mdbWavesEffect>
                 Rahul Kumar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/history"><i class="fa fa-history ml-2"></i> History</a>
                <!-- <a class="dropdown-item" href="#">Another action</a> -->
                <a class="dropdown-item" routerLink="/settings"><i class="fa fa-gears ml-2"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="doLogout()"><i class="fa fa-sign-out ml-2"></i> Logout</a>
            </div>
        </div>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>





